@tailwind base;
@tailwind utilities;

.cov-btn {
  color: #373a3c;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}

.cov-btn:disabled {
  background-color: #ccc;
  color: #666;
}

.cov-select {
  color: #373a3c;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  height: 34px;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}
